*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

.d-flex{
  display: flex;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}

.btn{
  background-color: white;
  border-radius: 25px;
  padding: 10px 15px;
}

.btn-black{
  background-color: rgb(35, 39, 42);
  border-radius: 25px;
  padding: 10px 15px;
}

.btn-violet{
  background-color: rgb(114, 137, 218);
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
}

/* Header */

.nav-container{
  background-color: rgb(37, 94, 233);
  height: 80px;
  padding: 10px 0px;
  align-items: center;
}

.nav{
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

li{
  list-style: none;
  padding: 0px 10px;
 }

a{
  text-decoration: none;
  color: white;
}

li a:hover{
  text-decoration: none;
  color: white;

}

.login a{
  text-decoration: none;
  color: black;
}

/* Main-link */

.jumbotron{
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-position: center;
}

.jumbo-text{
  color: white;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.jumbo-text p:first-child{
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.jumbo-text p:nth-child(2){
  line-height: 25px;
}

.btn, .btn-black{
  margin: 20px 15px;

}

.btn-jumbotron a .btn{
  color: black;
}

/* Section alternate */
section{
  padding: 40px 0px;
}

.blupink-container{
  height: 400px;
  align-items: central;
}


.big-col{
  background-color: rgb(30, 144, 255);
  border: 1px dashed black;
  width: 60%;
}

.big-col img{
  width: 100%;
  align-items: central;
}

.small-col{
  background-color: rgb(255, 192, 203);
  border: 1px dashed black;
  width: 40%;
  padding: 30px;
}

.small-text{
  margin: 0px auto;
}

.small-col p:first-child{
  font-size: 1.8rem;
}

.small-col p:last-child{
  padding-top: 20px;
  font-size: 1.2rem;
}

.bkggrey{
  background-color: rgb(211, 211, 211);
}

/* /Section alternate */

/* Section Download */

.download{
background-color: rgb(211, 211, 211);
height: 800px;
display: flex;
justify-content: center;
align-items: center;
}

.boxgreen{
  background-color: green;
  height: 90%;
}

/* /Section Download */

/* Infobox */

.bkgfooter{
  background-color: rgb(35, 39, 42);
  height: 500px;
}

.infobox{
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  border-bottom:1px solid rgb(107, 134, 218);;
  ;

}

.social{
  padding: 20px;
  width: 20%;
}

.social p:first-child{
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(107, 134, 218);
}

.language{
  padding: 15px 0;
  align-items: center;
}

.language p:nth-child(2){
  font-size: 0.8rem;
  line-height: 20px;
}

.flag{
  width: 20px;
  margin-right: 5px;
}

.language,
.icon i{
  padding-right: 20px;
  color: white;
}

/* Menu */

.menu{
  width: 80%;
  font-size: 0.8rem;
}

.col{
  display: flex;
  justify-content: center;  flex-basis: 25%;
  padding: 20px 0px;
  color: white;
}

.col li{
  padding-bottom: 15px;
}

.col li:first-child{
  color: rgb(107, 134, 218);

}

/* Footer */

.banner{
  height: 100px;
  background-color: rgb(35, 39, 42);
  justify-content: space-between;
}

.foot{
  justify-content: space-between;
  height: 60px;
  align-items: center;

}

.logo-bottom{
  margin: 10px 0px;
  padding: 5px;
}

/* Banner */

.banner .logo{
  padding-top: 10px;
}
