*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
}

.d-flex{
  display: flex;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}

.btn{
  font-size: 1.2rem;
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px;
}

.btn-black{
  background-color: rgb(35, 39, 42);
  border-radius: 25px;
  padding: 10px 20px;
}

.btn-violet{
  background-color: rgb(114, 137, 218);
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
}

.wave{
  height: 100px;
  filter: opacity(0.04);
  background-image: url(./img/wave.svg);
  background-size: cover;
}

.rotate{
  transform: rotateX(180deg);
}

/* Header */
.bar-fixed{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999
  ;
}

.nav-container{
  background-color: rgb(37, 94, 233);
  height: 80px;
  padding: 10px 0px;
  align-items: center;
}

.nav{
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

li{
  list-style: none;
  padding: 0px 10px;
 }

a{
  text-decoration: none;
  color: white;
}

li a:hover{
  text-decoration: none;
  color: white;

}

.login a{
  text-decoration: none;
  color: black;
}

/* Main-link */
main{
  margin-top: 80px;
}
.jumbotron{
  justify-content: center;
  align-items: center;
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-position: center;
  height: 550px;
}

.jumbo-text{
  width: 40%;
  color: white;
  text-align: center;
}

.jumbo-text p:first-child{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.jumbo-text p:nth-child(2){
  font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 30px;
}

.btn, .btn-black{
  margin: 20px 15px;

}

.btn-jumbotron.btn, .btn-black{
  font-size: 1.2rem;
}

.btn-jumbotron a .btn{
  color: black;
}

/* Section alternate */
img{
  max-width: 100%;
}

section{
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.bkggrey{
  background-color: #f6f6f6;
}

.blupink-container{
  align-items: central;
}

.big-col{
  width: 60%;
}

.big-col img{
  width: 100%;
  align-items: central;
}

.small-col{
  width: 40%;
  padding: 30px;
}

.small-text{
  width: 375px;
  text-align: left;
  padding: 20px 40px;
}

.small-col p:first-child{
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 50px;
}

.small-col p:last-child{
  padding-top: 20px;
  font-size: 1.2rem;
  line-height: 30px;

}

/* Section Download */

.boxdownload{
/* background-color: green; */
text-align: center;
}

.boxdownload p:nth-child(1){
  font-size: 2.8rem;
  font-weight: bold;
}

.boxdownload p:nth-child(2){
  padding-top: 20px;
  font-size: 1.2rem;
  line-height: 30px; 
}
.d-flex-column{
  align-items: center;
}
.d-text{
  width: 80%;
}
.boxdownload{
  margin-bottom: 50px;
}
.boxdownload img{
  width: 100%;
}

.boxdownload h3{
  font-size: 1.5rem;
  width: 45%;
  margin: 40px auto;
  margin-bottom: 50px;
  padding-top: 25px;
  background-image: url(./img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}


/* Infobox */

.bkgfooter{
  background-color: rgb(35, 39, 42);
  height: 500px;
}

.infobox{
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  border-bottom:1px solid rgb(107, 134, 218);;
  ;

}

.social{
  padding: 20px;
  width: 20%;
}

.social p:first-child{
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(107, 134, 218);
}

.language{
  padding: 15px 0;
  align-items: center;
}

.language p:nth-child(2){
  font-size: 0.8rem;
  line-height: 20px;
}

.flag{
  width: 20px;
  margin-right: 5px;
}

.language,
.icon i{
  padding-right: 20px;
  color: white;
}

/* Menu */

.menu{
  width: 80%;
  font-size: 0.8rem;
}

.col{
  display: flex;
  justify-content: center;  flex-basis: 25%;
  padding: 20px 0px;
  color: white;
}

.col li{
  padding-bottom: 15px;
}

.col li:first-child{
  color: rgb(107, 134, 218);

}

/* Footer */

.banner{
  height: 100px;
  background-color: rgb(35, 39, 42);
  justify-content: space-between;
}

.foot{
  justify-content: space-between;
  height: 60px;
  align-items: center;

}

.logo-bottom{
  margin: 10px 0px;
  padding: 5px;
}

/* Banner */

.banner .logo{
  padding-top: 10px;
}
