*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

.d-flex{
  display: flex;
}

.d-flex-column{
  display: flex;
  flex-direction: column;
}

.btn{
  background-color: white;
  border-radius: 25px;
  padding: 10px 15px;
}

.btn-black{
  background-color: rgb(35, 39, 42);
  border-radius: 25px;
  padding: 10px 15px;
}

/* Header */

.nav-container{
  background-color: rgb(37, 94, 233);
  height: 80px;
  padding: 10px 0px;
align-items: center;
}

.nav{
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

li{
  list-style: none;
  padding: 0px 10px;
 }

a{
  text-decoration: none;
  color: white;
}

li a:hover{
  text-decoration: none;
  color: white;

}

.login a{
  text-decoration: none;
  color: black;


}

/* Main-link */

.jumbotron{
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-position: center;
}

.jumbo-text{
  color: white;
  width: 95%;
  max-width: 600px;
  text-align: center;
}

.jumbo-text p:first-child{
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.jumbo-text p:nth-child(2){
  line-height: 25px;
}

.btn, .btn-black{
  margin: 20px 15px;

}

.btn-jumbotron a .btn{
  color: black;
}

/* Section alternate */

.blupink-container{
  height: 400px;
  border: 1px dashed black;
}

section{
  padding: 40px 0px;
}

.big-column{
  background-color: rgb(30, 144, 255);
  border: 1px dashed black;
  width: 60%;
}

.small-column{
  background-color: rgb(255, 192, 203);
  border: 1px dashed black;
  width: 40%;
}

.bkggrey{
  background-color: rgb(211, 211, 211);
}

/* /Section alternate */

/* Section Download */

.download{
background-color: rgb(211, 211, 211);
height: 800px;
display: flex;
justify-content: center;
align-items: center;
}

.boxgreen{
  background-color: green;
  height: 90%;
}

/* /Section Download */

/* Infobox */

.bkgfooter{
  background-color: rgb(35, 39, 42);
  height: 500px;
  border-bottom: 1px solid white;
  justify-content: center;
}

.infobox{
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
}

.social{
  background-color: rgb(32, 178, 170);
  border: 1px dashed rgb(0, 0, 0);
  padding: 20px;

}

.col{
  display: flex;
  flex-basis: 25%;
  background-color: rgb(32, 178, 170);
  border: 1px dashed white;
  padding: 20px;
}

/* Footer */

.banner{
  height: 100px;
  background-color: rgb(35, 39, 42);
  justify-content: space-between;
}

.foot{
  justify-content: space-between;
  background-color: aqua;
}

.logo-bottom{
  background-color: rgb(255, 182, 193);
  border: 1px dashed black;
  margin: 10px 0px;
  padding: 5px;
}

.register{
  background-color: rgb(255, 182, 193);
  border: 1px dashed black;
  margin: 10px 0px;
  padding: 5px;
}

/* /Footer */